#include <windows.h>
#include "resource.h"

IDR_LOGO PNG "lumon_logo.png"

IDD_CONFIG DIALOG 0, 0, 200, 160
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Lumon Screensaver Settings"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Speed:", -1, 10, 15, 30, 8
    CONTROL "", IDC_SPEED_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 40, 10, 100, 20
    LTEXT "5", IDC_SPEED_TEXT, 150, 15, 20, 8
    
    LTEXT "Color:", -1, 10, 45, 30, 8
    PUSHBUTTON "Choose Color", IDC_COLOR_BUTTON, 40, 42, 60, 14
    CONTROL "", IDC_COLOR_PREVIEW, "STATIC", SS_BLACKFRAME | SS_NOTIFY, 110, 42, 30, 14
    
    AUTOCHECKBOX "Multicolor Mode", IDC_MULTICOLOR_CHECK, 10, 70, 70, 10
    LTEXT "Color Change Interval (seconds):", -1, 10, 90, 110, 8
    CONTROL "", IDC_INTERVAL_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 40, 100, 100, 20
    LTEXT "5", IDC_INTERVAL_TEXT, 150, 105, 20, 8
    
    DEFPUSHBUTTON "OK", IDOK, 35, 130, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 95, 130, 50, 14
END